.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  @each $cols-number, $col-width in $columns {
    @media (min-width: #{$col-width}) {
      grid-template-columns: repeat(#{$cols-number}, $card-width);
    }
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
