.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  $columns: 2 488px, 3 768px, 4 1024px;

  @each $cols-number, $col-width in $columns {
    @media (min-width: #{$col-width}) {
      grid-template-columns: repeat(#{$cols-number}, 200px);
    }
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
